/* responsive */
@media(max-width: 768px) {
  #wrap {
    width: 100%;
  }

  /* =============== header =============== */
  #header {
    display: flex;
    z-index: 100;
  }

  .gnb-left li,
  .gnb-right li {
    display: none;
  }

  /* =============== contents =============== */
  #contents {
    width: 100%;
  }

  .signup {
    width: 90%;
  }

  .tbody1 table td {}

  .tbody2 {}

  table .user-id input,
  table .user-pwd input,
  table .user-pwdCheck input {
    width: 50%;
  }


    .signup-ck {}

    /* =============== footer =============== */
    .footer-box {
      width: 100%;
      flex-wrap: wrap;
    }

    .ft-link li a {
      font-size: 11px;
    }

    .ft-link li a::after {
      display: none;
    }

    .ft-inner {
      margin-left: -100px;
    }

    .ft-info {
      width: 115%;
    }

    .ft-about {}

    .ft-about::after {
      height: 300px;
      position: absolute;
      top: 45%;
      right: -3%;
    }

    .ft-about p,
    .ft-cs p {
      font-size: 13px;
    }

    .ft-cs {
      margin: -10px 0 0 30px;
    }

    .ft-cs p {
      line-height: 25px;
    }

    .ft-sns a img {
      margin-bottom: -15px;
    }


  }

  /* media */